/* .main {
  display: flex;
} */

.wrapper {
  border: 1px solid #000;
  touch-action: pinch-zoom;
  max-width: 100%;
  min-height: 300px;
}
.buttons {
  display: flex;
  background-color: white;
}
.button {
  margin: 10px;
  width: 20%;
  background-color: white;
}
.background_lower {
  /* background-image: url("/images/background.png"); */
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -10;
}

.background_upper {
  background-color: white;
  margin: 0px;
  padding: 0px;
  width: 55vw;
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -9;
}
.blank {
  flex: 2;
  background-image: url("/images/background.png");
}
.main {
  flex: 6;
  max-width: 100%;
  /* margin: 0 10%; */
}
@media (min-width: 630px) {
  .main {
    margin: 0 5%;
  }
}

.all {
  display: flex;
  height: 100vh;
}
