.canvas {
  border: 1px solid #000;
}

.animationContainer {
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #000;
  width: 800px;
  /* 幅を800pxに設定 */
  height: 400px;
  /* 高さを400pxに設定 */
}

.movingText {
  display: inline-block;
  white-space: nowrap;
  animation: moveLeft 10s linear forwards;
  /* 'forwards' stops the animation at the end */
  position: relative;
  /* 追加：positionを指定 */
}

@keyframes moveLeft {
  0% {
    left: 800px;
    /* 初期位置を右端に設定 */
  }

  100% {
    left: -200px;
    /* 終了位置を左端に設定 */
  }
}

.background_lower {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -10;
}

.background_upper {
  background-color: white;
  margin: 0px;
  padding: 0px;
  width: 55vw;
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -9;
}